# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode and other IDE/editor settings
.vscode/
*.code-workspace

# Mac/Linux hidden files
.DS_Store
Thumbs.db

# Logs and local data
*.log
*.sqlite3
*.db
*.bak

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
coverage.*
.cache
nosetests.xml
pytest_cache/
.pytest_cache/

# Build artifacts
build/
dist/
*.egg-info/

# Jupyter runtime
.profile
.ipython/
.jupyter/

# Environment/config files
.env
.env.*

# LaTeX temp files
*.aux
*.out
*.toc
*.log
*.synctex.gz
*.fls
*.fdb_latexmk
